
label {
    font-weight: 600;
    color: #666;
  }
  body {
    background: #f1f1f1;
  }
  .box8 {
    box-shadow: 0px 0px 5px 1px #999;
  }
  .mx-t3 {
    margin-top: -3rem;
  }
  /* login form css */
  .login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  